{% extends 'layaouts/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <img src="{% static 'user1.jpg' %}" alt="user1" width="200"\>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste vitae quos consequuntur sit accusantium, doloribus rem suscipit corporis ex qui quam illo enim beatae, cum exercitationem voluptatem mollitia architecto tenetur.</p>
</body>
</html>

{% endblock %}